#headline-anim {
  position: absolute;
  top: 60%;
  left: 35%;
  font-size: 4em;
  transform: translate(-20%, 70%);
  z-index: 100;
  animation: fill 0.5s ease forwards 6s;
}
#headline-anim path:nth-child(1) {
  stroke-dasharray: 437.3307800292969px;
  stroke-dashoffset: 437.3307800292969px;
  animation: line-anim 3s ease forwards;
}
#headline-anim path:nth-child(2) {
  stroke-dasharray: 300.445556640625px;
  stroke-dashoffset: 300.445556640625px;
  animation: line-anim 3s ease forwards 0.3s;
}
#headline-anim path:nth-child(3) {
  stroke-dasharray: 286.72625732421875px;
  stroke-dashoffset: 286.72625732421875px;
  animation: line-anim 3s ease forwards 0.6s;
}
#headline-anim path:nth-child(4) {
  stroke-dasharray: 250.73422241210938px;
  stroke-dashoffset: 250.73422241210938px;
  animation: line-anim 3s ease forwards 0.9s;
}
#headline-anim path:nth-child(5) {
  stroke-dasharray: 433.04962158203125px;
  stroke-dashoffset: 433.04962158203125px;
  animation: line-anim 3s ease forwards 1.2s;
}
#headline-anim path:nth-child(6) {
  stroke-dasharray: 354.1455993652344px;
  stroke-dashoffset: 354.1455993652344px;
  animation: line-anim 3s ease forwards 1.5s;
}
#headline-anim path:nth-child(7) {
  stroke-dasharray: 211.7276153564453px;
  stroke-dashoffset: 211.7276153564453px;
  animation: line-anim 3s ease forwards 1.8s;
}
#headline-anim path:nth-child(8) {
  stroke-dasharray: 323.7269592285156px;
  stroke-dashoffset: 323.7269592285156px;
  animation: line-anim 3s ease forwards 2.1s;
}
#headline-anim path:nth-child(9) {
  stroke-dasharray: 427.16790771484375px;
  stroke-dashoffset: 427.16790771484375px;
  animation: line-anim 3s ease forwards 2.4s;
}
#headline-anim path:nth-child(10) {
  stroke-dasharray: 323.727294921875px;
  stroke-dashoffset: 323.727294921875px;
  animation: line-anim 3s ease forwards 2.7s;
}
#headline-anim path:nth-child(11) {
  stroke-dasharray: 288.0079040527344px;
  stroke-dashoffset: 288.0079040527344px;
  animation: line-anim 3s ease forwards 3s;
}
#headline-anim path:nth-child(12) {
  stroke-dasharray: 323.7273254394531px;
  stroke-dashoffset: 323.7273254394531px;
  animation: line-anim 3s ease forwards 3.3s;
}
#headline-anim path:nth-child(13) {
  stroke-dasharray: 224.39202880859375px;
  stroke-dashoffset: 224.39202880859375px;
  animation: line-anim 3s ease forwards 3.6s;
}
#headline-anim path:nth-child(14) {
  stroke-dasharray: 300.44329833984375px;
  stroke-dashoffset: 300.44329833984375px;
  animation: line-anim 3s ease forwards 3.9s;
}
#headline-anim path:nth-child(15) {
  stroke-dasharray: 386.8771667480469px;
  stroke-dashoffset: 386.8771667480469px;
  animation: line-anim 3s ease forwards 4.2s;
}
#headline-anim path:nth-child(16) {
  stroke-dasharray: 323.7278747558594px;
  stroke-dashoffset: 323.7278747558594px;
  animation: line-anim 3s ease forwards 4.5s;
}
#headline-anim path:nth-child(17) {
  stroke-dasharray: 211.72775268554688px;
  stroke-dashoffset: 211.72775268554688px;
  animation: line-anim 3s ease forwards 4.8s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
